//! **************************************************************************
// Written by: Map P.40xd on Wed May 07 22:09:35 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P126" LEVEL 1;
COMP "en<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "en<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "en<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "en<3>" LOCATE = SITE "P85" LEVEL 1;
COMP "en<4>" LOCATE = SITE "P87" LEVEL 1;
COMP "en<5>" LOCATE = SITE "P88" LEVEL 1;
COMP "en<6>" LOCATE = SITE "P92" LEVEL 1;
COMP "c<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "en<7>" LOCATE = SITE "P93" LEVEL 1;
COMP "c<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "c<2>" LOCATE = SITE "P79" LEVEL 1;
COMP "c<3>" LOCATE = SITE "P78" LEVEL 1;
COMP "c<4>" LOCATE = SITE "P75" LEVEL 1;
COMP "c<5>" LOCATE = SITE "P74" LEVEL 1;
COMP "c<6>" LOCATE = SITE "P12" LEVEL 1;
COMP "c<7>" LOCATE = SITE "P14" LEVEL 1;
COMP "rst" LOCATE = SITE "P15" LEVEL 1;
SCHEMATIC END;

