//! **************************************************************************
// Written by: Map P.40xd on Thu Jun 05 14:26:28 2014
//! **************************************************************************

SCHEMATIC START;
COMP "key_in<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "key_in<1>" LOCATE = SITE "P17" LEVEL 1;
COMP "key_in<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "out<0>" LOCATE = SITE "P33" LEVEL 1;
COMP "out<1>" LOCATE = SITE "P34" LEVEL 1;
COMP "out<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "out<3>" LOCATE = SITE "P44" LEVEL 1;
COMP "out<4>" LOCATE = SITE "P45" LEVEL 1;
COMP "out<5>" LOCATE = SITE "P46" LEVEL 1;
COMP "out<6>" LOCATE = SITE "P43" LEVEL 1;
COMP "out<7>" LOCATE = SITE "P41" LEVEL 1;
SCHEMATIC END;

