//! **************************************************************************
// Written by: Map P.40xd on Wed May 07 20:39:10 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LED7S<4>" LOCATE = SITE "P75" LEVEL 1;
COMP "LED7<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "LED7<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "LED7<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "LED7<3>" LOCATE = SITE "P85" LEVEL 1;
COMP "LED7<4>" LOCATE = SITE "P87" LEVEL 1;
COMP "LED7<5>" LOCATE = SITE "P88" LEVEL 1;
COMP "LED7<6>" LOCATE = SITE "P92" LEVEL 1;
COMP "LED7<7>" LOCATE = SITE "P93" LEVEL 1;
COMP "LED7S<2>" LOCATE = SITE "P79" LEVEL 1;
COMP "BM_KG_data<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "BM_KG_data<1>" LOCATE = SITE "P17" LEVEL 1;
COMP "BM_KG_data<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "LED7S<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "BM_KG_data<3>" LOCATE = SITE "P22" LEVEL 1;
COMP "LED7S<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "BM_KG_data<4>" LOCATE = SITE "P23" LEVEL 1;
COMP "BM_KG_data<5>" LOCATE = SITE "P24" LEVEL 1;
COMP "LED7S<3>" LOCATE = SITE "P78" LEVEL 1;
COMP "BM_KG_data<6>" LOCATE = SITE "P26" LEVEL 1;
COMP "BM_KG_data<7>" LOCATE = SITE "P27" LEVEL 1;
COMP "LED7S<5>" LOCATE = SITE "P74" LEVEL 1;
COMP "LED7S<6>" LOCATE = SITE "P12" LEVEL 1;
COMP "LED7S<7>" LOCATE = SITE "P14" LEVEL 1;
SCHEMATIC END;

