//! **************************************************************************
// Written by: Map P.40xd on Wed May 07 21:44:37 2014
//! **************************************************************************

SCHEMATIC START;
COMP "sel" LOCATE = SITE "P16" LEVEL 1;
COMP "a" LOCATE = SITE "P114" LEVEL 1;
COMP "b" LOCATE = SITE "P112" LEVEL 1;
COMP "c" LOCATE = SITE "P45" LEVEL 1;
SCHEMATIC END;

